.error{
    padding: 10px;
    text-align: center;
    color: #aa0000;
}

.recover{
    width:175px;
}

.content.cellphone{
    
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation: fadeIn 0.5s ease-in;
  }

.iconAlert{
    background-color:cadetblue;
    padding:10px;
    border-radius:10px

}

@media screen and (min-width: 701px){
    .cellphone {
        display: none!important;
    }
    
}

@media screen and (max-width: 700px) {
    .desktop {
        display: none !important;
    }
    .desktopbuttons {
        display: none !important;
    }
    .mat-paginator-range-label {
        margin: 0 15px 0 24px !important;
    }
}

.content.desktop{
    width: 100% !important;
    height: 100% !important;
    max-width: 1000px;
    min-width: 1000px;
}

.input-login{
    text-align: left;
    background-color: #E3E8FD;
    border-radius:  5px;
    height: 35px;
    padding: 10px;
    width: 95%;
    margin-bottom: 15px;
    border:0px;
}

@media screen and (max-width:745px){
    .mat-card{
        background-color: #381715;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 64px);
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 850px;
    margin: auto auto 20px;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
}

::ng-deep .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: white;
}

.slider-container {
    width: 100%;
    max-width: 600px; /* Ajusta el ancho máximo según tu preferencia */
    overflow: hidden; /* Oculta el contenido que excede el ancho del contenedor */
    position: relative; /* Permite posicionar las diapositivas de forma absoluta */
  }
  
  .slide {
    width: 100%; /* Ajusta el ancho de las diapositivas al 100% del contenedor */
    display: none; /* Oculta las diapositivas de forma predeterminada */
    position: absolute; /* Posiciona las diapositivas de forma absoluta */
    left: 0; /* Inicialmente, todas las diapositivas comienzan desde el borde izquierdo */
  }
  
  .slide img {
    width: 100%; /* Ajusta el ancho de las imágenes al 100% de la diapositiva */
  }
  
  /* Estilo para la diapositiva activa */
  .slide.active {
    display: block; /* Muestra la diapositiva activa */
  }

  ::ng-deep.mat-mdc-snack-bar-container{
    margin-bottom: 242px!important;
  }

  ::ng-deep.mat-mdc-snack-bar-container{
    --mat-mdc-snack-bar-button-color: #ff4081!important;
    --mdc-snackbar-container-color: #fff!important;
    --mdc-snackbar-supporting-text-color: rgb(0 0 0 / 87%)!important;
  }

    /* Botón de iniciar sesión */
.login-button {
  width: 100%;
  height: 58px;
  margin-top: 15px;
  background-color: #133d6a !important;
  color: white !important;
  border-radius: 5px;
}

.login-button span {
  font-size: 20px;
  font-family: 'Roboto';
  color: white;
}

.login-button .loading {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 700;
  color: white;
}
